@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "SoraSemiBold";
    src: url(../assets/fonts/Sora-SemiBold.ttf);
}

@font-face {
    font-family: "SoraRegular";
    src: url(../assets/fonts/Sora-Regular.ttf);

}

@font-face {
    font-family: "InterRegular";
    src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "InterMedium";
    src: url(../assets/fonts/Inter-Medium.ttf);
}    


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
        --corBanner:#EFF8FF;
        --corCard2: #293145;
        --buttonColor: #0F9AFE;
        --contatoParagraphColor: #DBDBDB;
        --titleColor: #293145;
        --titleFont: "SoraSemiBold";
        --paragraphFont: "InterRegular";
        --cardTitleFont: "SoraSemiBold";
        --navItemsFont: "InterMedium";
        --paragraphColor: #6E7275;
        --footerFont: "SoraRegular";
}


.container-grid {
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 360px) {
    

}

header {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
}

.headerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.headerContent>img {
}

.headerContent>nav {
    width: 50%;
}

.headerContent>nav>ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContent>nav>ul>li>a {
    text-decoration: none;
    font-family:  var(--navItemsFont);
    color: var(--paragraphColor);
}

.banner {
    width: 100%;
    height: 450px;
    background-color: var(--corBanner);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerContent{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bannerContent>img{
    width: 390px ;
    height: 100%;
}

.bannerContent>div{
    width: 4200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    
}

.bannerContent>div>h1{
    font-family: var(--titleFont);
    color: var(--titleColor);
    font-size: 43px;
}

.bannerContent>div>button{
    background-color: var(--buttonColor);
    width: 150px;
    height: 40px;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: var(--navItemsFont);
}

.middle{
    width:100% ;
    height: 380px;
    background-color: white;
    display: flex;
    justify-content:  center;
    padding: 40px;
}

.middleContent{
    width: 800px;
    height:100% ;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

}

.middleCards{

    width: 100%;
    height: 180px;
    display: flex;
    gap: 100px;
}

.middleCards>div{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    
}

.middleContent>h1{
    font-family: var(--titleFont);
    color: var(--titleColor);
    font-size:35px;
}

.middleCards>div>h3 {
    font-family: var(--cardTitleFont);
    color: var(--titleColor);
}

.middleCards>div>p {
    font-family: var(--paragraphFont);
    color:var(--paragraphColor)
}

.app{
    width: 100%;
    height: 370px;
    background-color: var(--corBanner);
    display: flex;
    justify-content: center;
    align-items: center;
}

.appContent {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appContentText {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.appContentImages {
    width: 365px;
    display: flex;
    justify-content: space-between;
}

.appContentText>article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appContentText>article>h1 {
    font-family: var(--titleFont);
    color: var(--titleColor);
    font-size: 26px;
}

.appContentText>article>p {
    font-family: var(--paragraphFont);
    color: var(--paragraphColor);
    font-size: 14px;
}

.appContent>img {
    width: 300px;
    height: 300px;
}

.plans {
    width: 100%;
    height: 580px;
    background-color: white;
    display: flex;
    align-items: center;
}

.plansContent {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.plansContent>div {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plansContent>div>h1 {
    font-family: var(--titleFont);
    color: var(--titleColor);
    font-size: 35px;
}

.plansContent>div>p {
    font-family: var(--paragraphFont);
    color: var(--paragraphColor);
    font-size: 15px;
}

.cardsContainer {
    width: 800px;
    height: 320px;
    display: flex;
    gap: 20px;
}

[class^="cardBody"] {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow: 1px 1px 15px #00000022;
}

.cardBody {
    background-color: var(--corBanner);
}

.cardBody-prata {
    background-color: var(--corCard2);
}

.cardBody-prata>h3 {
    color: white;
    font-family: var(--titleFont);
}

.cardBody-prata>p {
    font-family: var(--paragraphFont);
    color: var(--contatoParagraphColor);
    font-size: 14px;
}

.cardBody-prata>button {
    background-color: var(--buttonColor);
    width: 150px;
    height: 40px;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: var(--navItemsFont);
    border: none;
}

.cardBody-prata .btnPreferido {
    background-color: var(--buttonColor);
    width: 135px;
    height: 22px;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: var(--navItemsFont);
    border: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.cardBody>h3 {
    font-family: var(--titleFont);
    color: var(--titleColor)
}

.cardBody>p {
    color: var(--paragraphColor);
    font-family: var(--paragraphFont);
    font-size: 14px;
}

.cardBody>button {
    background-color: var(--buttonColor);
    width: 150px;
    height: 40px;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: var(--navItemsFont);
    border: none;
}

.cardBody>div {
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    color: var(--titleColor);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.cardBody>div>span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 21px;
}

.cardBody-prata>div {
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    color: var(--titleColor);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.cardBody-prata>div>span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 21px;
}

.contact{
    width: 100%;
    height: 300px; 
    display: flex;
    background-image: url(../assets/images/computer.png);
    background-position: 5px;
    background-size: cover;
}
.contactContent{
    width: 100%;
    height: 100%;
    background-color: #293145B2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div1{
    width: 410px;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.div1>h1{
    font-family: var(--titleFont);
    color: white;
    font-size: 35px;
}


.div1>p{
    color: var(--contatoParagraphColor);
    font-family: var(--paragraphFont);
    font-size: 14px;
}

.div2{
    height:40px ;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2>input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 220px;
    outline: none;
    padding-bottom: 5px;
}

.div2>input::placeholder{
    color: white;
}

.div2>button{
    background-color: var(--buttonColor);
    width: 95px;
    height: 30px;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: var(--navItemsFont);
    border: none;
}

footer {
    background-color: white;
    width: 100%;
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--footerFont);
    font-size: 15px;
}


                                /* abaixo mobile */

@media screen and (max-width: 410px) {

    .container-grid {
        max-width: 90vw;
        margin: 0 auto;
    }

/* 
    body {
        overflow-x: hidden;
    } */

    header {
        width: 100vw;
        height: 20vh;
    }

    .headerContent {
        width: 100%;
        height: 100%;
    }

    .headerContent>img {
        width: 100px;
        height: 100px;
        /* border: 2px solid red; */
    }

    .headerContent>nav {
       display: none;
    }

    .banner {
        width: 100vw;
        height: 780px;
        display: flex;
        flex-direction: column;
    }

    .bannerContent {
        flex-direction: column;
        align-items: center;
        border: 2px solid red;
        height: 100%;
    }

    .bannerContent>div {
        width: 100vw;
        height: 100%;   
        padding-inline: 20px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        height: 820px;
        width: 100vw;
        align-items: center;
        padding: 14px;
        /* border: 2px solid red; */
    }

    .middleContent {
        /* display: flex;
        flex-direction: column; */
        width: 100vw;
        height: 100%;
    }

    .middleCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 15px;
    }

    .app {
        border: 2px solid #0F9AFE;
        width: 100vw;
        height: 700px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .appContent {
        border: 2px solid black;
        width: 300vw;
        display: flex;
        flex-direction: column;
        padding: 0; 
        gap: 0;
    }

    .appContentText {
        width: 100%;
        height: 100%;
        border: 2px solid violet;
        text-align: center; 
        align-items: center;
    }

    .appContentText>article {
        border: 2px solid black;
    }

    .appContentImages>img {
        width: 100px;
        height: 40px;
        border: 2px solid black;
    }

    .appContentImages {
        width: 220px;
        height: 60px;
        border: 2px solid red;
        display: flex;
        justify-content: center;
    }

}
